
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: lower-alpha;
    box-sizing: border-box;
}

a.try{
    color: whitesmoke;
}

label[class="name"]{
    font-family: "montserrat";
}

nav{
    background: grey;
    height: 80px;
    width: 100%;
    box-shadow: 0px 2px 3px black;
}
label.name{
    color: whitesmoke;
    font-size: 35px;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}
nav ul li a{
    color: whitesmoke;
    font-size: 17px;
    text-transform: capitalize;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active,a:hover{
    background-color: whitesmoke;
    transition: .5s;
    color: black;
}

footer{
    display: block;
    margin: 10px 35px;
    padding: 10px;
    width: fit-content;
    font-weight: bold;
    font-size: 12px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.hk{
    width: 35px;
    height: 30px;
    border-radius: 5px;
    display: inline-block;

}

.fb{
    width: 35px;
    height: 30px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 4px;
}

.twit{
    width: 35px;
    height: 30px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 20px;
}

.end{
    background-color: grey;
    height: 5px;
    margin-top: 260xpx;
    padding-bottom: 74px;
    padding-top: -200px;
    color: whitesmoke;
    text-shadow: 1px 4px 3px black;
}
author{
    float: right;
    margin-left: 900px;
    margin-top: -12px;
}

.border {
    border: 2px solid;
    border-color: aliceblue;
    margin-left: 300px;
    margin-right: 100px;
    margin-top: 5%;
    margin-bottom: 75px;
    padding: 30px;
    background-color: gray;
    width: 800px;
}

body{
    background: repeating-linear-gradient(#A9F1DF,#FFBBBB);
}

h2{
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 3px;
}

p,label{
    font-size: 15px;
    margin-left: 5px;
}
input{
    padding: 5px 35px;
    margin-left: 5px;
}
input[class="4"]{
    margin-left: 91px;
    margin-right: 5px;
}
label[class="2"]{
    font-size: 15px;
    font-weight: bold;
}
input[class="3"]{
    margin-left: 383px;
    border-radius: 5px;
    border: none;
    background-color: lightgreen;
    font-weight: bold;
}
input[class="1"]{
    border-radius: 5px;
    border: none;
    background-color: lightgreen;
    font-weight: bold;
}
select[class="courses"]{
    width: 20%;
    height: 5%;
    margin-left: 5px;
    border-radius: 3px;
}
select[class="gender"]{
    margin-left: 272.7px;
    width: 20%;
    margin-right: 10px;
    border-radius: 3px;
}
select[class="year"]{
    margin-left: 30px;
    width: 10%;
    border-radius: 3px  ;
}
select[class="day"]{
    width: 7%;
    margin-left: 30px;
    border-radius: 3px;
}